<div class="list card clear-bg ink" ng-repeat ="item in feeds track by $index" style="margin-bottom:20px" ng-last-repeat="mylist">
    <div class="item item-avatar">
        <img ng-src="{{item.Pic}}">
        <i class="icon ion-android-more-vertical pull-right" style="font-size:25px ;padding:13px" ng-click="openPopover1($event,item)"></i>
        <h2>{{item.Author}}</h2>

        <p> {{timeSince(item.LastEdited)}} &nbsp <i ng-if= "item.isPublic=='1'" class = "icon ion-earth" > </i> <i ng-if= "item.isPublic!='1'" class = "icon ion-ios-people" > </i></p>
    </div>
        <div class="item item-body" ng-click="openBrowser(item.Link)">
        <img src="img/newmaterial.jpg">
        <p> {{item.Summary}}</p>
        <p>
            <a class="subdued" ng-if="item.Likes=='1' || item.Likes=='0'">{{item.Likes}} Like</a>
            <a class="subdued" ng-if="!(item.Likes=='1' || item.Likes=='0')">{{item.Likes}} Likes</a>
            <a class="subdued" ng-if="item.Comments=='1' || item.Comments=='0'">{{item.Comments}} Comment</a>
            <a class="subdued" ng-if="!(item.Comments=='1' || item.Comments=='0')">{{item.Comments}} Comments</a>
        </p>
    </div>
    <div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-if = "item.action == 1">
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="followArticle(item.CommuID)">
                <i class="icon ion-android-happy"></i> Follow
            </a>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-if ="item.action == 2">
            <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                <i class="icon ion-thumbsup"></i> Like
            </a>
            <a ng-class = "{bookmarkcolor: item.Bookmarked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="BookmarkArticle($index)">
                <i class="icon ion-android-bookmark"></i> Bookmark
            </a>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-if ="item.action == 3"> <!-- For Connections and Followers(Public Articles) -->
            <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                <i class="icon ion-thumbsup"></i> Like
            </a>
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="openCommentModal(item.ShrID)" class = "animate  up-down">
                <i class="icon ion-chatbox"></i> Comment
            </a>
            <a ng-class = "{bookmarkcolor: item.Bookmarked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="BookmarkArticle($index)">
                <i class="icon ion-android-bookmark"></i> Bookmark
            </a>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left" ng-if = "item.action == 4">  <!-- for Doctors only  -->
            <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                <i class="icon ion-thumbsup"></i> Like
            </a>
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="openCommentModal(item.ShrID)" class = "animate  up-down">
                <i class="icon ion-chatbox"></i> Comment
            </a>
            <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="showPopup(item.ShrID)">
                <i class="icon ion-share"></i> Share
            </a>
        </div>
    </div>
</div>
