<ion-view title = "Comments">
	<ion-content>
            <div class="bar bar-header bar-calm-900" style="position: static;">
                <div class="h1 title title-center light">Comments</div>

            </div>

        <div class="content">
            <div class="list">
                <div class="item item-avatar ink item-text-wrap item-icon-right" ng-repeat = "comment in comments track by $index">
                    <img src="img/jon-snow.jpg">
                    <h2>{{(comment.IsAnon == 1)?'Anonymous':comment.FullName}}</h2>
                    <p>{{comment.Comment}}</p>
										<div class="list" ng-if = "comment.Replies">
											<div class="item item-icon-left" ng-click="comment.isrepopen = !comment.isrepopen">
											<i ng-class="{'icon' : true, 'ion-chevron-right' : !comment.isrepopen, 'ion-chevron-down' : comment.isrepopen}"></i>
											Replies
											</div>
											<div ng-show = "comment.isrepopen" class="item item-avatar ink item-text-wrap item-icon-right" ng-repeat = "reply in comment.Replies">
			                    <img src="img/jon-snow.jpg">
			                    <h2>{{(reply.IsAnon == 1)?'Anonymous':reply.FullName}}</h2>
			                    <p>{{reply.Reply}}</p>
			                </div>
											<div class="item item-avatar ink item-text-wrap item-icon-right">
			                    <img src="img/jon-snow.jpg">
			                    <h2>Jon Snow</h2>
													<div class="list">
														<textarea elastic class="item" placeholder="Write a reply..." ng-model="someProperty"></textarea>
														<div class = "item item-checkbox checkbox-clam">
															<label class="checkbox" style="float : left">
																<input type="checkbox" ng-model="isrepanon">
															</label>
															IsAnonymous
															<button style="float : right" class="button button-calm button-outline" ng-click = "replyit($index,isrepanon,someProperty)">Reply</button>
														</div>
													</div>
			                </div>
										</div>
                </div>
                <div class="item item-avatar ink item-text-wrap item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
										<div class="list">
                    	<textarea elastic class = "item" placeholder="Write a Comment..." ng-model="commentmodal.someotherProperty"></textarea>
											<div class = "item item-checkbox checkbox-calm">
												<label class="checkbox" style="float : left">
													<input type="checkbox" ng-model="commentmodal.iscomanon">
												</label>
												IsAnonymous
											</div>
												<button style="float : right" class="button button-calm button-outline" ng-click = "commentit(commentmodal.iscomanon,commentmodal.someotherProperty)">Comment</button>
											<!-- </div> -->
										</div>
                </div>
            </div>
        </div>

	</ion-content>
</ion-view>
