<ion-view> 
    <ion-header-bar class="bar bar-header bar-positive ">
        <h1 class="title" style="left:0px;">Comments</h1>
        <button class="button button-clear" style="top:0px" ng-click="closeModal()"><i class="icon ion-close-circled"></i> </button>
    </ion-header-bar>
	<ion-content>
            

        <div class="content">
            <div class="list">
                <div class="item item-avatar ink item-text-wrap item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Doctor i have an issue with my right eye. It is paining a lot. Could you please suggest me some alternate medicines</p>
                </div>
                <div class="item item-avatar ink item-text-wrap item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Doctor i have an issue with my right eye. It is paining a lot. </p>
                </div>
                <div class="item item-avatar ink item-text-wrap item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <p>Doctor i have an issue with my right eye. It is paining a lot. </p>
                </div>
                <div class="item item-avatar ink item-text-wrap item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <input type="text"  style = "width:100%" placeholder="Please enter your views here">

                </div>
            </div>

        </div>

	</ion-content> 
</ion-view>