<ion-view view-title="Community">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Dr. Anurag Misra's Group</a></h3>
                <h4></h4>
            </div>
        </div>
 
        <div class = "list card clear-bg ink"> 

        <div class = "item item-divider" style= "text-align:center"> 
            Status
        </div> 
            <p style= "text-align:center">  "The Clinic is closed on Sunday "</p>

        </div> 
<!--         <div class="tabs tabs-stable tabs-icon-left static">
            <a  class="tab-item" ng-click="goToActivity()">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a  class="tab-item" ng-click="goToMembers()">
                <i class="icon ion-android-people"></i> Connections
            </a>
            <a  class="tab-item" ng-click="goToFollowers()">
                <i class="icon ion-images"></i> Followers
            </a>
        </div>
 -
 -->
        <!-- <div class = "cards">  -->
           <!--  <div class = "item no-padding"> -->
                <!--                <a class="button option button-clear" ng-click="openPopover($event)">
  <i class="icon dark ion-chevron-down"></i>
</a> -->
          <!--   <div class="list card clear-bg ink">
               <a class="button option button-clear" ng-click="openPopover($event)">
  <i class="icon dark ion-chevron-down"></i>
</a>
            <a class = "option" on-tap="openPopover($event)"><i class="icon ion-chevron-down" style="font-size:15px"></i></a>
  -->       <div ng-if ="!follow">
                <button class="button button-block button-calm">
                   Follow 
                </button>
            </div>
            <div ng-if ="follow">
                 <feed prefs="Prefs" community="CommuID" shrid="ShrID"></feed>
            </div>
           
  
           <!--  </div>
            </div> -->

    </ion-content>
</ion-view>
