<ion-view view-title="Search for doctors, articles and diseases">
	<ion-content>

			<!-- <div class = "cards">  -->
				<!--             	<a class="button option button-clear" ng-click="openPopover($event)">
  <i class="icon dark ion-chevron-down"></i>
</a> -->
            <div class="list card clear-bg ink" ng-repeat ="item in feeds track by $index" style="margin-bottom:20px" ng-last-repeat="mylist">
<!--             	<a class="button option button-clear" ng-click="openPopover($event)">
  <i class="icon dark ion-chevron-down"></i>
</a> -->

            <!-- <a class = "option" on-tap="openPopover($event)"><i class="icon ion-chevron-down" style="font-size:15px"></i></a> -->
<!--
            <a class = "icon option ion-chevron-down" ng-click="openPopover($event)"> </a>  -->

                    <div class="item item-avatar">
                        <img src="img/arya.jpg">
                        <h2>{{item.Author}}</h2>
                        <p> {{timeSince(item.LastEdited)}} &nbsp <i ng-if= "item.Type=='public'" class = "icon ion-earth" > </i> <i ng-if= "item.Type=='other'" class = "icon ion-ios-people" > </i></p>
                    </div>
                        <div class="item item-body" ng-click="openBrowser(item.Link)">
                        <img src="img/newmaterial.jpg">
                        <p> {{item.Summary}}</p>
                        <p>
                            <a class="subdued" ng-if="item.Likes=='1' || item.Likes=='0'">{{item.Likes}} Like</a>
                            <a class="subdued" ng-if="!(item.Likes=='1' || item.Likes=='0')">{{item.Likes}} Likes</a>
                            <a class="subdued" ng-if="item.Comments=='1' || item.Comments=='0'">{{item.Comments}} Comment</a>
                            <a class="subdued" ng-if="!(item.Comments=='1' || item.Comments=='0')">{{item.Comments}} Comments</a>
<!--                         <a class="subdued" style="font-size:18px"><i class="icon ion-thumbsup calm" style="font-size:25px" ></i> {{item.Likes}}  </a>
                        <a class="subdued" style="font-size:18px"><i class="icon ion-chatbox calm" style="font-size:25px"></i> {{item.Comments}}</a> -->
                        </p>
                    </div>

                <div >
                    <div class="item tabs tabs-secondary tabs-icon-left" ng-if = "item.action == 1"> <!-- for Public Unknown Articles -->
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="FollowArticle()">
                            <i class="icon ion-android-happy"></i> Follow
                        </a>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" ng-if ="item.action == 2">  <!-- " For Followers  -->
                        <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                            <i class="icon ion-thumbsup"></i> Like
                        </a>
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="BookmarkArticle()">
                            <i class="icon ion-android-bookmark"></i> Bookmark
                        </a>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" ng-if ="item.action == 3"> <!-- For Connections and Followers(Public Articles) -->
                        <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                            <i class="icon ion-thumbsup"></i> Like
                        </a>
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="openCommentModal()" class = "animate  up-down">
                            <i class="icon ion-chatbox"></i> Comment
                        </a>
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="BookmarkArticle()">
                            <i class="icon ion-android-bookmark"></i> Bookmark
                        </a>
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left" ng-if = "item.action == 4">  <!-- for Doctors only  -->
                        <a ng-class = "{likecolor: item.Liked }" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="likeArticle($index)">
                            <i class="icon ion-thumbsup"></i> Like
                        </a>
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="openCommentModal()" class = "animate  up-down">
                            <i class="icon ion-chatbox"></i> Comment
                        </a>
                        <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5" ng-click="showPopup(item.ShrID)">
                            <i class="icon ion-share"></i> Share
                        </a>
                    </div>
                </div>
            </div>

        <!-- </div>  -->
	</ion-content>
</ion-view>
