<ion-view cache-view="false" view-title="Login" hide-nav-bar="true" class ="view-background">
  <ion-content>
    <div style="margin-top:20%; text-align:center ">
      <img src="img/logo-app.png">
    </div>
    <div class="list" ng-show="div1" >
      <label class="item item-input item-floating-label" style="border-top: 0; margin-bottom: 30px; position: relative ;top: 20px">
        <span class="input-label">Registered Phone Number</span>
        <input type="tel" placeholder="Registered Phone Number" ng-model="u.phone">
      </label>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="forgotpass(u)">
          OK
        </button>
      </div>
    </div>


        <div ng-show = "div2">
          <div class="list ">
            <label class="item item-input item-floating-label mine-item" ng-if="changepass">
              <span class="input-label" style="color: #727272; padding-left: 15px; font-size: 13px">Current Password</span>
              <input type="password" class="icolor" placeholder="Current Password" style="padding-left: 15px" ng-model="u.opass">
            </label>
            <label class="item item-input item-floating-label mine-item ">
              <span class="input-label" style="color: #727272; padding-left: 15px; font-size: 13px">New Password</span>
              <input id="pw" name="pw" type="password" class="icolor" placeholder="New Password" style="padding-left: 15px" ng-model="pw">
              <ul id="strength" check-strength="pw"></ul>
            </label>
            <label class="item item-input item-floating-label ">
              <span class="input-label" style="color: #727272; padding-left: 15px; font-size: 13px">Confirm New Password</span>
              <input class="icolor" type="password" placeholder="Confirm New Password" style="padding-left: 15px; " ng-model="u.cpass" type="password">
            </label>
          </div>
        <div class="padding">
             <button class="button button-block button-positive" ng-click="updatepass(u,pw)">
               SAVE
             </button>
        </div>
        </div>

  </ion-content>
</ion-view>
