
<ion-view view-title="Groups"> 
  <ion-content class = "padding">


<ion-list class  = "animate-fade-slide-in-right"> 



<!--                  <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>

            </div> -->
<!--     <ion-item class = "card" ng-if="myCommunities.length!=0">
          <ion-item class="item-divider" style= "text-align:center" >
    Home Group
  </ion-item>


                 <a class="item item-icon-left" ng-repeat ="item in myCommunities" ng-click="goToCommunity(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>



    </ion-item>

<ion-item class = "card" ng-if="adminCommunities.length!=0">
          <ion-item class="item-divider" style= "text-align:center">
    Admin Groups
  </ion-item>


                 <a class="item item-icon-left" ng-repeat ="item in adminCommunities" ng-click="goToCommunity(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>



        </ion-item>
 -->

<a class = "item item-icon-left"> <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
</a>
 
<ion-item class = "card">
          <ion-item class="item-divider" style= "text-align:center" ng-if="connectCommuniities.length!=0">
    Connection Groups
  </ion-item>


                 <a class="item item-icon-left" ng-repeat ="item in connectCommunities" ng-click="goToCommunity(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>


        </ion-item>

<ion-item class = "card">
          <ion-item class="item-divider" style= "text-align:center" ng-if="following.length!=0">
    Following Groups
  </ion-item>

                 <a class="item item-icon-left" ng-repeat ="item in following" ng-click="goToCommunity(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>


        </ion-item>
</ion-list> 

<!--    <div ng-if= "otherCommunities.length > 0" class="card">
      <div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
        Other Communities
      </div> 
      <ion-list ng-repeat="item in otherCommunities">
        <ion-item>
          {{item.ComID}}   {{item.Name}}
        </ion-item>
    
      </ion-list> 
    </div>
    <div ng-if= "following.length > 0" class="card">
      <div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
        Following
      </div> 
      <ion-list ng-repeat="item in following">
        <ion-item>
          {{item.ComID}}  {{item.Name}}
        </ion-item>
    
      </ion-list> 
    </div> -->

  </ion-content> 
</ion-view>
