
<ion-view view-title="Search for doctors, articles and diseases"> 
	<ion-content class = "padding">


<ion-list class  = "animate-fade-slide-in-right"> 



<!--                  <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>

            </div> -->
    <ion-item class = "card" >
          <ion-item class="item-divider" style= "text-align:center" >
    Connected Groups
  </ion-item>


                 <a class="item item-icon-left" ng-click="goToProfile()">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>

                 <a class="item item-icon-left">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>
		</ion-item>

<ion-item class = "card">
          <ion-item class="item-divider" style= "text-align:center">
    Following Groups
  </ion-item>


                 <a class="item item-icon-left">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>



        </ion-item>



	</ion-content> 
</ion-view>
