
<ion-view view-title="Groups" cache-view="true"> 
  <ion-content class = "padding">


<ion-list class  = "animate-fade-slide-in-right">




<!--                  <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>

            </div> -->

<ion-item ng-if = "connectCommunities.length!=0">

         <a class = "item" style= "text-align:center"> Connection Communities </a>

                 <a class="item item-icon-left" ng-repeat ="item in connectCommunities" ng-click="goToCommunity1(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>


        </ion-item>

<ion-item ng-if="following.length!=0">
         <a class = "item" style= "text-align:center"> Following Communities </a>
                 <a class="item item-icon-left" ng-repeat ="item in following" ng-click="goToCommunity1(item.CommuID, item.UserType)">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>{{item.Name}}</h2>
                    <span class="badge badge-assertive">0</span>
                </a>


        </ion-item>

  </ion-list>
</ion-view>
