<ion-view view-title="Search for doctors, articles and diseases">
    <!-- <ion-content ng-class="{expanded:isExpanded}"> -->
    <ion-content>
        <div class="content">
            <div class="list animate-fade-slide-in-right">
                <div  ng-repeat="notification in Notifications" >
                    <div ng-if = "notification.Type == 11 && notification.Viewed == '#f6f6f6'" class="item ink item-text-wrap item-avatar item-icon-right" ng-style="{'background-color' : notification.Viewed}" ng-click="doit(notification)" >
                    <img ng-src="{{notification.Pic}}">
                    <p>{{notification.Summary}}</p>
                    <p>{{stringify(notification.NGT)}} </p>
                    <div class="button-bar">
                      <a class="button button-calm" ng-click="accrej(true,notification.NID)">Accept</a>
                      <a class="button" ng-click="accrej(false,notification.NID">Reject</a>
                    </div>
                    </div>
                    <div ng-if = "notification.Type != 11 || notification.Type ==11 && notification.Viewed == '#ffffff'" class="item ink item-text-wrap item-avatar item-icon-right" ng-style="{'background-color' : notification.Viewed}" ng-click="doit(notification)">
                    <img ng-src="{{notification.Pic}}">
                    <p>{{notification.Summary}}</p>
                    <p>{{stringify(notification.NGT)}}</p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

<!-- Codes:
DoctorAccept : 0
DoctorReject : 1
DoctorReschedule : 2
PatientRescheduleAccept : 3
PatientRescheduleReject : 4
PatientBookingCancelled : 5
DoctorBookingCancelled : 6
PatientBookingReminder : 7
PatientBookingDone : 8
PatientBookedAuto : 9
PatientPreCancelAppointment : 10
DoctorConnectionRequest : 11
PatientConnectionAcceptNotification : 12
Patient Follow Notification : 13
Like Notification : 14
Comment Notification : 15
Share Notification : 16
 -->
