<ion-view> 


<!-- <div class="tabs tabs-positive tabs-top">
            <a class="tab-item" href="#/app/dash">
              Dash
            </a>
            <a class="tab-item">
                Favorites
            </a>
            <a class="tab-item">
                Settings
            </a>
            <a class="tab-item">
                Settings
            </a>
        </div>
         -->
    <ion-tabs class="tabs-positive active fade-in-out" animation="slide-left-right">

      
      <ion-tab title="DxHealth" ui-sref="app.tabs.symptify">
        <ion-nav-view name="symptify"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Feed" ui-sref="app.tabs.feed" >
        <ion-nav-view name="feed"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Groups" ui-sref="app.tabs.groups">
        <ion-nav-view name="groups"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Notifications" ui-sref="app.tabs.notifications">
        <ion-nav-view name="notifications"></ion-nav-view>
      </ion-tab>



    </ion-tabs>
</ion-view> 