<ion-view view-title="Community">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Diabetes</a></h3>
                <h4>Dr. Anurag Misra</h4>
            </div>
        </div>
        <div class="tabs tabs-icon-left static">
            <a  class="tab-item" ng-click="goToActivity()">
                <i class="icon ion-arrow-graph-up-right"></i> Activity
            </a>
            <a  class="tab-item" ng-click="goToMembers()">
                <i class="icon ion-android-people"></i> Connections
            </a>
            <a  class="tab-item" ng-click="goToFollowers()">
                <i class="icon ion-images"></i> Followers
            </a>
        </div>

        <div class = "list card clear-bg ink"> 

        <div class = "item item-divider" style= "text-align:center"> 
            Status
        </div> 
            <p style= "text-align:center">  "The Clinic is closed on Sunday "</p>

        </div>

<div class="list card clear-bg ink">
                <div class="item item-body">
                <div class= "item no-padding"> <h3> Your Post Here </h3> </div>


                <label> Heading </label>  
            <input type="text" ng-model="postmat.postheading" style= "width:100%; border:solid 1px grey;"></input>
          
                <label> Detail </label>  
  
            <textarea ng-model="postmat.posttext" rows="10" style= "width:100%; border:solid 1px grey;"></textarea>

                <label>Link</label>  
            <input type = "text" name="post" ng-model="postmat.postlink" style= "width:100%; border:solid 1px grey;"></input>


 </div>

    <div class = "item item-body" ng-controller="UploadController">

            <input name="file" type = "file" file = "file"></input>


  <button class="button button-small button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="upload()" ng-cloak="" style="float:center">Upload</button>


<!--   <img class="fit" ng-if="uploadUri" ng-src="{{uploadUri}}">
  <a ng-href="{{uploadUri}}" ng-bind="uploadUri"></a> -->
</div>


<label class = "item item-input item-select">
    <div class="input-label">
      Visibility
    </div>
<select ng-model="optionSelected" ng-change="selectUpdated(optionSelected)">
    <option value="">Select an option</option>
    <option value='0'>Followers</option>
    <option value='1'>Public</option>
</select>
</label> 


            <button class="button button-block button-positive" ng-click = "post()">
                Post
            </button>
   </div> 





</ion-content>

</ion-view>
