<ion-view view-title="Followers">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list animate-fade-slide-in-right" ng-repeat ="item in followers">
            <a  class="item item-avatar item-icon-right" >
                    <img src="img/jon-snow.jpg">
                    <h2>{{item.FullName}}</h2>
                    <p>@nikname</p>
                    <!-- <button class="button button-icon ion-more" ng-click="popover.show($event)">
                    </button> -->
                    <i class="icon ion-android-more-vertical" ng-click="popover.show()"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
