
<ion-view view-title="Search for doctors, articles and diseases"> 
	<ion-content>
	<!-- <div  class="card">
			<div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
				My Communities
			</div> 
			<ion-list ng-repeat="item in myCommunities">
				<ion-item ng-click="goToProfile()">
					hello
				</ion-item>
		
			</ion-list>	
		</div>
		<div ng-if= "myCommunities.length > 0" class="card">
			<div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
				My Communities
			</div> 
			<ion-list ng-repeat="item in myCommunities">
				<ion-item ng-click="goToProfile()">
					{{item.ComID}}  {{item.Name}} 
				</ion-item>
		
			</ion-list>
            </div>	 -->
    <div class  = "list card" style= " margin-top: 20px; margin-bottom:20px">
            <div class="bar bar-header bar-positive" style="position: static;">
                <div class="h1 title title-center light">My Groups</div>
            </div>

<!--             <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>
            </div>
 -->
                 <a class="item item-icon-left"  ng-click="goToProfile()">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>



		</div>



    <div class  = "list card" style= " margin-top: 20px; margin-bottom:20px" >
            <div class="bar bar-header bar-positive" style="position: static;">
                <div class="h1 title title-center light">Admin Groups</div>
            </div>

<!--             <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>
            </div>
 -->
                 <a class="item item-icon-left">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>



        </div>



    <div class  = "list card" style= " margin-top: 20px; margin-bottom:20px">
            <div class="bar bar-header bar-positive" style="position: static;">
                <div class="h1 title title-center light">Connected Groups</div>
            </div>

<!--             <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>
            </div>
 -->
                 <a class="item item-icon-left">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>



        </div>

            <div class  = "list card" style= " margin-top: 20px; margin-bottom:20px">
            <div class="bar bar-header bar-positive" style="position: static;">
                <div class="h1 title title-center light">Following Groups</div>
            </div>

<!--             <div class="item card ink item-icon-left" ng-repeat="item in myCommunities"  ng-last-repeat="mylist">
                <i class="icon ion-person-stalker"></i> {{item.Name}}
                <span class="badge badge-assertive">0</span>
            </div>
 -->
                 <a class="item item-icon-left">
                    <i class="icon royal-100 ion-person-stalker"></i> <h2>Dr. Harsh Kumar Gupta's Community </h2>
                    <span class="badge badge-assertive">0</span>
                </a>



        </div>


<!-- 		<div ng-if= "otherCommunities.length > 0" class="card">
			<div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
				Other Communities
			</div> 
			<ion-list ng-repeat="item in otherCommunities">
				<ion-item>
					{{item.ComID}}   {{item.Name}}
				</ion-item>
		
			</ion-list>	
		</div>
		<div ng-if= "following.length > 0" class="card">
			<div style="border-bottom:1px solid #387ef5; margin-top:10px;padding:2px 10px;">
				Following
			</div> 
			<ion-list ng-repeat="item in following">
				<ion-item>
					{{item.ComID}}  {{item.Name}}
				</ion-item>
		
			</ion-list>	
		</div> -->
	</ion-content> 
</ion-view>
