<ion-view view-title="Profile">
  <ion-content class="view-background">
    
    <div class="list card ink">

      <div class="item item-image padding"style="clear:both">
        <img class = "p-pic" src={{full.Pic}} style="width: 160px;height:160px" ng-click="modal.show()"/>

      </div>
      <div class = "item item-divider" style= "text-align:center"> 
        <i style= "text-align:center; font-size: 20px;"> {{ full.FName}} {{ full.LName}} </i>
      </div> 

      <!-- <p class="ion-location icon-color" style="text-align:center"> {{full.City}}</p> -->

      
    </div>

        <div class="card card-contact-info ink ">
        <div class="card-edit-header">
            <span> Contact Info </span>
            
        </div>
        <div class="card-content">
            <div class="card-content-item">
                <span class="item-name">Mobile Phone</span>
                <span class="item-value"> {{full.Phone}} </span>
            </div>
            <div class="card-content-item">
                <span class="item-name">Email Address</span>
                <span class="item-value">{{full.Email}}</span>
            </div>
         
        
    </div>
</div>

<div ng-if="flag==1"> 
          <label class="item item-input item-select">
            <span class="input-label">Community</span>
          <select ng-model = "optionSelected" ng-change="selectUpdated(optionSelected)">
          <option ng-repeat="item in myCommunities" value="{{item.CommuID}}">{{item.Name}} </option>
          <!-- <option ng-repeat="item in adminCommunities" value="{{item.CommuID}}">{{item.Name}}</option> -->

        </select>
      </label>

    <div class = "card" style="padding:0px"> 
        <button class = "button button-block button-positive" style="margin:0px" ng-click= "addConnection()"> Add to the home group </button> 
    </div>  
</div> 
</ion-content>
</ion-view>
