<ion-view cache-view="false"  >
	
<ion-nav-bar class="bar bar-header bar-positive">
	<ion-nav-buttons side="left" style = "width:100%">
		<ion-header-bar style="box-shadow:0 0">
	 		<button class="button button-clear ink"  ng-click="goBack()"> <i class="icon ion-arrow-left-c" ></i> </button>
				<input ng-keydown="keyfunc($event, mysearch)" style="width:100%;background-color: #387ef5;" type="search" class="ion-autocomplete-search"  placeholder="Search by name , community and disease" ng-model = "mysearch" autofocus>
		</ion-header-bar>
	</ion-nav-buttons>
</ion-nav-bar>
<ion-content >
		<!-- <ion-header-bar class="bar-positive item-input-inset">
			<label class="item-input-wrapper" style="background-color: #fff;">
				<i class="icon ion-search placeholder-icon"></i>
				<input ng-keydown="keyfunc($event, mysearch)" type="search" class="ion-autocomplete-search"  placeholder="Search by name , community and disease" ng-model = "mysearch" autofocus>
				<ion-spinner icon="ripple" ng-if="showLoadingIcon" style="float : right"></ion-spinner>
			</label>
		</ion-header-bar> -->
		<!-- <div class="tabs tabs-icon-left tabs-striped static">
	    <a  class="tab-item" ng-click="goToPeople()">
	      <i class="icon ion-person"></i> People
	    </a>
	    <a class="tab-item" ng-click="goToCommunities()">
	      <i class="icon ion-android-people"></i> Communities
	    </a>
	    <a class="tab-item" ng-click="goToArticles()">
	      <i class="icon ion-images"></i> Tags
	    </a>
		</div> -->

		<div style="height : 100%;width : 100%" ng-show="showLoadingIcon">
			<ion-spinner icon="ripple" ng-if="showLoadingIcon" style="font-size : 128px"></ion-spinner>
		</div>
		<div ng-show="!showLoadingIcon">
			<div class="card" ng-if="(querylist.People | filter : query).length > 0">
				<div class="item" style="border-bottom:1px solid #f3f3f3;padding:5px 10px;min-height:20px;">
				People
				</div>
				<div class="list " >
                <a  class="item item-avatar" ng-repeat = "person in querylist.People | filter : query| limitTo : 5" >
                    <img src="img/jon-snow.jpg">
                    <h2>{{person.FullName}}</h2>
                    <!-- <p>@nikname</p> -->
                     <div class=" positive">
                     <i class="icon ion-person-add "  ng-click="openPopover($event,item)"></i>     <span >Add</span>
                     </div>
                                
                </a>
			
				</div>
		 </div>
		 <div class="card" ng-if="(querylist.Communities | filter : query).length > 0">
				<div class="item" style="border-bottom:1px solid #f3f3f3;padding:5px 10px;min-height:20px;">
				Communities
				</div>
				<div class="list " >
                <a  class="item item-avatar " ng-repeat = "community in querylist.Communities | filter : query| limitTo : 5" >
                    <img src="img/jon-snow.jpg">
                    <h2>{{community.Name}}</h2>
                    <div class="positive " >
                     <i class="icon ion-android-happy "  ng-click="openPopover($event,item)"></i>     <span >Follow</span>
                     </div>

                </a>
			
				</div>
		 </div>
		 <div class="card" ng-if="(querylist.Tags | filter : query).length > 0">
				<div class="item" style="border-bottom:1px solid #f3f3f3;padding:5px 10px;min-height:20px;">
				Article tags
				</div>
				<div class="list " >
                <a  class="item item-avatar " ng-repeat = "tag in querylist.Tags | filter : query| limitTo : 5" >
                    <img src="img/jon-snow.jpg">
                    <h2>{{tag.Tag}}</h2>
                    <div class="positive " >
                     <i class="icon ion-android-search "  ng-click="openPopover($event,item)"></i>     <span >Articles</span>
                     </div>

                     
                                <!-- <i class="icon ion-person-add" style="top:-10px" ng-click="openPopover($event,item)"></i> -->
                </a>
			
				</div>
		 </div>
			<!-- <div class="list card">
				
				<div class = "item" ng-repeat = "community in querylist.Communities | filter : query | limitTo : 5">{{community.Name}}</div>
			</div>
			<div class="list">
				<div class = "item" ng-repeat = "tag in querylist.Tags | filter : query | limitTo : 5">{{tag.Name}}</div>
			</div> -->
			
		</div>

		
	</ion-content>
</ion-view>
