<ion-modal-view cache-view="false">
	<ion-header-bar class="bar bar-header bar-positive ">
		<h1 class="title" style="left:0px;">Search People, Communities and Articles</h1>
  		<button class="button button-clear" style="top:0px" ng-click="closeSearch()"><i class="icon ion-close-circled"></i>	</button>
	</ion-header-bar>

	<ion-content class="has-header">
		<ion-header-bar class="bar-positive item-input-inset">
			<label class="item-input-wrapper" style="background-color: #fff;">
				<i class="icon ion-search placeholder-icon"></i>
				<input ng-keydown="keyfunc($event, mysearch)" type="search" class="ion-autocomplete-search"  placeholder="Search by name , community and disease" ng-model = "mysearch" autofocus>
				<ion-spinner icon="ripple" ng-if="showLoadingIcon" style="float : right"></ion-spinner>
			</label>
		</ion-header-bar>
		<div class="tabs tabs-icon-left static">
            <a  class="tab-item" ng-click="goToActivity()">
                <i class="icon ion-person"></i> People
            </a>
            <a  class="tab-item" ng-click="goToMembers()">
                <i class="icon ion-android-people"></i> Communities
            </a>
            <a  class="tab-item" ng-click="goToFollowers()">
                <i class="icon ion-images"></i> Articles
            </a>
        </div>
		<ion-item ng-if="mysearch != null" ng-repeat="queryitem in querylist | filter : mysearch | limitTo : 5" item-height="55px" item-width="100%" ng-click="selectItem(queryitem)" class="item-text-wrap">
			{{queryitem.Name}}
		</ion-item>
    <!-- <ion-item class="item-divider" ng-if="mysearch == null">
      <i class="icon ion-clock"></i>
      Search History
    </ion-item>
		<ion-item ng-if="mysearch == null" ng-repeat="queryitem in querylist" item-height="55px" item-width="100%" ng-click="selectItem(queryitem)" class="item-text-wrap">
			{{queryitem.Name}}
		</ion-item> -->
    <!-- <ion-item class="item-divider" ng-if="mysearch == null">
      <i class="icon ion-earth"></i>
      People
    </ion-item> -->
		<!-- <ion-slide-box  show-pager = 'false'>
      <ion-slide>
				<div ng-if="mysearch == null" ng-repeat="(city,suburbs) in cities"  class="item-text-wrap" item-height="55px" item-width="100%">
		      <ion-item ng-click="goToSuburb(city)">{{city}} <i class="icon ion-chevron-right" style="float : right"></i></ion-item>
		    </div>
      </ion-slide>
			<ion-slide>
				<div ng-repeat="suburb in cities[currentCity]"  class="item-text-wrap" item-height="55px" item-width="100%">
		      <ion-item ng-click="selectItem(suburb,true)">{{suburb}}</ion-item>
		    </div>
			</ion-slide>
    </ion-slide-box> -->
	</ion-content>
</ion-modal-view>
