/* Empty. Add your own CSS if you like */
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}


.option {
    display: inline-block;
    float:right;
    margin:10px 15px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    color: grey;
    font-size: 15px;
}


h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */



.menu .bar.bar-header.expanded {
    background-image: url('../img/material3.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CODE */

.code {
    color: #333;
    font-family: monospace;
    padding: 10px;
    white-space: pre;
}

.code-wrapper {
    padding-bottom: 30px;
    padding-top: 15px;
}

.code-wrapper::before {
    color: #1B5E20;
    font-family: "Ionicons";
    speak: none;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: '\f216 ';
}

.code-wrapper.active::before {
    content: '\f207 ';
}

.code-wrapper .toggle {
    color: #4CAF50;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 8px;
    text-decoration: underline;
}

.code-wrapper .code {
    opacity: 0;
    margin-top: -20px;
    height: 0;
    overflow: hidden;
    position: absolute;
    transition: 0.1s all ease-in-out;
    z-index: 9999999999;
}

.code-wrapper.code-wrapper-last .code {
    position: relative;
}

.code-wrapper.active .code {
    background: #f9f9f9;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    left: 16px;
    height: initial;
    margin-top: 15px;
    padding: 15px;
    right: 16px;
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: initial;
}

.popover {
    left: initial !important;
    right: 30px !important;
    bottom: 10px !important;
}


.optionpopover {
    left: initial !important;
    right: 30px !important;
    bottom: 10px !important;
    width: 75px !important;
    height:90px !important;
    font-size: 15px;
}
.platform-android .popover{
margin-top:5px;
}

.likecolor {
    color: #387ef5;
}

.bookmarkcolor {
    color: #387ef5;
}


.card-profile{
    height: 120px;
    box-shadow: 0px 3px 1px #c3c3c3;
}
.p-pic{
    border-radius: 50%;
    margin-left:25%;
    box-shadow: 0px 10px 10px 5px #888888;
}

.nopadding{
    padding: 0px 0px 0px 0px;
}
.profile-pic{
    width:100%;
    height: 100%;
    padding: 2px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #f3f3f3;
    float: left;
    position: relative;
    left:35%;
    top:5px;

}
.menu-profile-pic{
    width:35%;
    height: 100%;
    padding: 2px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #f3f3f3;
    float: left;
    position: relative;
    max-width: 120px;
    max-height: 120px;
    padding: 5px;
    /*left:35%;
    top:5px;*/
}
.user-detail{
    width: 100%;
    height: 100%;
    position: relative;
    top: 5px;
}
.menu-user-detail{
    /*width: 70%;*/
    float: right;
}
.short-detail{
    padding: 8px 3px 3px 8px;
}
.menu-short-detail{
    padding: 5px 0px 40px 10px;
}
.full-detail{
    width: 100%;
    height: 30%;
    padding: 7px;
    background-color: #5c99ff;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
.pull-left{
    float: left;
    margin-left: 5px;
}
.pull-right{
    float: right;
    margin-right: 5px;
}
.icon-color{
    color:#387ef5;
}
.view-full-profile-btn{
    padding:7px 0px;
    color:#f6f6f6;
    margin: auto;
}
.arrow-full-profile{
    font-size: 35px;
    color: #f6f6f6;
    margin: auto;
    width: 30%;
    padding: 0px 0px;
}
.patient-history{
    height: 100px;
    box-shadow: 0px 3px 1px #c3c3c3;
}
.card-header{
    margin: 5px;
    width: 90%;
    color: #1b1b1b;
}
.card-description{
    color: #797979;
    margin-left: 55px;
    margin-right: 5px;
    font-size: 12px;
}
.mine-nav-bar{
    background-color: #5c99ff !important;


}
.title{
    color:#f6f6f6 !important;
    /*left:65px !important;*/
}

.nopadding{
    padding: 0px 0px 0px 0px;
}
.card{
    padding:2px;
}
.card-edit-header{
    width:100%;
    padding: 5px 5px;
    color:#6f6f6f;
    border-bottom: solid 1px #f6f6f6;
}
.dclinic-header{
    width:100%;
    padding: 15px 5px;
    color:#6f6f6f;
    border-bottom: solid 1px #d4d4d4;
}
.card-content{
    padding: 7px 35px;
}
.clinic-item-title{
    width:20%;
    float:left;
}
.clinic-item-info{
    width:80%;
    float:right;
    border-bottom:1px solid #f3f3f3;
    padding: 0px 0px 10px 15px;
}
.card-content-item{
    border-bottom: solid 1px #f6f6f6;
    padding: 5px;
}


.item-name{
    color:#adadad;
}
.item-value{
    color:#101010;
    float: right;
}
.card-content-item.last{
    border-bottom: 0 px !important;
}
.card-content-item.add{
    color:#5c99ff;
    font-size:15px;
}
.mine-hide{
    display: none !important;

}
/*.card-contact-info{
    display: block;
}
.card-contact-info-edit{
    display: none;
}*/
.mine-button{
    height: 23px !important;
    min-height: 10px !important;
    min-width: 25px !important;
    width: 65px;
    padding: 0px 2px !important;
    color:white !important;
}
.mine-button:after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

}
.mine-save-button{
    background-color: #5c99ff !important;
}
.mine-cancel-button{
    background-color: #757575 !important;
}
.mine-input-bottom{
    border-bottom: 1px solid #f3f3f3 !important;
}
.item-floating-label .input-label.has-input{
    color:#c7c7c7;
    font-weight:lighter;
}
.card-content-inner{
    padding:5px;
}
.edit-photo{
    position: absolute;
    left:43%;
    top: 65%;
    color: white;
    padding: 0px 5px;
    /*border: 1px solid;*/
    border-radius: 5px;
    background: rgba(0,0,0,.26);
}
.item-icon{
    width: 15%;
    font-size: 30px;
    border-right: 1px solid #f3f3f3;
    /* padding: 5px; */
    float: left;
    text-align: center;
}
.item-title{
    color: #3e3d3d;
    width: 85%;
    float: right;
    padding: 5px 5px 5px 15px;
    font-size: 18px;

}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll {
  min-width: 100%;
}
div.hscroller {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
